examples/delta/results/
examples/delta/figures/
examples/gamma/results/
examples/gamma/figures/
examples/iterated/results/
examples/iterated/figures/
examples/poly/figures/
examples/poly/results/
examples/sampling/results/
